.container {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: red;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 中央揃え */
    justify-content: center;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    margin: 5px;
}